<style>
    .node {
        stroke: #fff;
        stroke-width: 1.5px;
        font: 10px sans-serif;
    }
    .link {
        stroke: #ccc;
        stroke-opacity: 1.0;
        stroke-width: 2.0;
    }
    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
</style>
<div class="row" ng-if="datasetError">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div ng-if="datasetError"><h4 class="text-center">Requested dataset unavailable...</h4></div>
    </div>
</div>
<div class="row" ng-if="progress">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <progress-meter processed="{{processed}}" total="{{total}}" error="{{datasetError}}"></progress-meter>
    </div>
</div>
<div class="row">
    <controls site="{{site}}" entity="{{entity}}" graph="{{graph}}" ng-if="!progress && controls"></controls>
    <div class="col-sm-12 col-md-12 col-lg-12" style="z-index: 1;">
        <div id="graph"></div>
    </div>
</div>
