<style>
    .node {
        stroke: #fff;
        stroke-width: 1.5px;
        font: 10px sans-serif;
    }
    .link {
        stroke-opacity: 1.0;
        stroke-width: 2.0;
    }
</style>
<div style="position: relative;">
    <div ng-if="!relaxed" style="position: absolute; z-index: 200; top: 0, left: 0; width: 100%; height: 100%; opacity: 0.3;">
    </div>
    <div ng-if="!relaxed" style="position: absolute; z-index: 300; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 100%; padding-left: 15px; ">
        <progress-meter processed="{{processed}}" total="{{total}}" invert="true"></progress-meter>
    </div>
    <div id="site_graph"></div>
</div>
