<div style="position: fixed; top: 0px; width: 100%;">
    <div class="row" style="background-color: #003268; height: 20px;">
    </div>
</div>
<div class="row" style="background-color: #efefea; padding-top: 5px;">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-6 col-lg-offset-3 text-center">
        <h1 style="text-shadow: 1px -1px 2px #595959; color: #658095; line-height: 1.1;">
            <span style="color: #3d4343;">ConneX: Contextual Network Explorer</span>
        </h1>
        <h4 style="font-size: 16px; font-weight: 300; text-rendering: optimizelegibility; color: #24658A;">
            ...a <em>side-</em>product of the 
            <a href="http://www.esrc.unimelb.edu.au" style="color: #24658A;">eScholarship Research Centre</a>,
            <a href="http://www.lib.unimelb.edu.au" target="_blank" style="color: #24658A;" >The University of Melbourne Library</a>
        </h4>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-6 col-lg-offset-3">
        <span ng-if="ready">Logged in as: {{fullname}}.</span>
        <span ng-if="!ready">Please log in.</span>
        <button class="btn btn-default bt-sm pull-right" ng-click="login()" ng-if="!ready">Login</button>
        <button class="btn btn-default bt-sm pull-right" ng-click="logout()" ng-if="ready">Logout</button>
        <hr/>
    </div>
</div>
<div ng-if="ready">
    <span ng-repeat="site in sites">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-3 text-center">
                <div class="col-sm-4 col-md-4 col-lg-2">{{site[0]}}: {{site[1]}}</div>
                <div class="col-sm-4 col-md-4 col-lg-3"><a href="#/site/{{site[0]}}/byEntity">Explore by Context Entity</a></div>
                <div class="col-sm-4 col-md-4 col-lg-3"><a href="#/site/{{site[0]}}/byFunction">Explore by Function</a></div>
            </div>
        </div>
    </span>
</div>
