<div class="row">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
        <p class="lead">
            <h1>Contextual Network Explorer</h4>
            <h5>...a (side-)product of the <a href="www.esrc.unimelb.edu.au" target="_blank">eScholarship Research Centre</a></h5>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
        <ul ng-repeat="site in sites">
            <li>{{site[0]}}: {{site[1]}}</li>
            <ul>
                <li><a href="#/site/{{site[0]}}/byEntity">Explore by Context Entity</a></li>
                <li><a href="#/site/{{site[0]}}/byFunction">Explore by Function</a></li>
            </ul>
        </ul>
    </div>
</div>
