<div class="row">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
        <p class="lead">
            <h1>Contextual Network Explorer</h4>
            <h5>...a (side-)product of the <a href="www.esrc.unimelb.edu.au" target="_blank">eScholarship Research Centre</a></h5>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
        <span ng-repeat="site in sites">
            <div class="col-sm-1 col-md-1 col-lg-1">{{site[0]}}: {{site[1]}}</div>
            <div class="col-sm-3 col-md-3 col-lg-3"><a href="#/site/{{site[0]}}/byEntity">Explore by Context Entity</a></div>
            <div class="col-sm-3 col-md-3 col-lg-3"><a href="#/site/{{site[0]}}/byFunction">Explore by Function</a></div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div><br/>
        </span>
    </div>
</div>
