<div class="progress">
    <div class="progress-bar progress-bar-info" style="width: {{processed / total * 100}}%"></div>
</div>
<h4 class="text-center">Building the graph: {{processed}} of {{total}} entities processed.</h4>
<p class="text-center">
    This can take some time. You'll also notice the screen go blank after it's done building the<br/> 
    graph as the browser works desperately to draw the components.
    <br/><br/>
    The amount of time the browser requires to draw the graph <em>increases</em><br/>
    with increasing graph size so please <em>be patient.</em>
</p>
