
<div class="row" ng-if="datasetError">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div ng-if="datasetError"><h4 class="text-center">Requested dataset unavailable...</h4></div>
    </div>
</div>
<div class="row" style="margin-top: 10px;" ng-if="initting">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
        <h4>Initialising...</h4>
    </div>
</div>
<div class="row" style="margin-top: 10px;" ng-if="progress">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <progress-meter processed="{{processed}}" total="{{total}}" error="{{datasetError}}"></progress-meter>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h4 class="text-center">Building the graph: {{processed}} of {{total}} entities processed.</h4>
            <p class="text-center">
                This can take some time. You'll also notice the screen go blank after it's done building the<br/>
                graph as the browser works desperately to draw the components.
                <br/><br/>
                The amount of time the browser requires to draw the graph <em>increases</em><br/>
                with increasing graph size so please <em>be patient.</em>
            </p>
        </div>
    </div>
</div>

<div ng-hide="showEntityNetwork">
    <div class="row" style="background-color: white;">
        <div class="col-md-7 col-lg-7" ng-if="!progress && !datasetError && ready" style="padding-right: 0px;">
            <force-network-graph></force-network-graph>
        </div>
        <div class="col-md-5 col-lg-5" ng-if="!progress && !datasetError && ready">
            <site-controls></site-controls>
        </div>
    </div>
</div>

<div ng-if="showEntityNetwork" class="animate-if">
    <entity-network></entity-network>
</div>
