<!-- the controls panel -->
<div ng-style="controlsPanelStyle" style="padding: 15px;">
    <!-- header -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4 style="">
                <span style="color: #3d4343;">{{site.name}} ({{site.code}})</span>
            </h4>
            <hr/>
        </div>
    </div>
   
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel-group" ng-model='panels.activePanel' data-animation="" data-allow-multiple="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 style="display: inline-block;"><a bs-collapse-toggle>Controls</a></h5>
                        <button class="pull-right btn btn-sm btn-default" ng-click="reset()">Reset</button>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <!-- control buttons -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <strong>Size nodes: </strong>
                                    <div class="btn-group text-center" role="group" aria-label="...">
                                        <button class="btn btn-sm btn-default" ng-class="sizeBy[1]" ng-click="sizeNodesBy('entities')">by related entities</button>
                                        <button class="btn btn-sm btn-default" ng-class="sizeBy[2]" ng-click="sizeNodesBy('publications')">by related publications</button>
                                        <button class="btn btn-sm btn-default" ng-class="sizeBy[3]" ng-click="sizeNodesBy('objects')">by related objects</button>
                                        <button class="btn btn-sm btn-default" ng-class="sizeBy[0]" ng-click="sizeNodesBy('evenly')">evenly</button>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <button class="btn btn-sm btn-default" ng-class="" ng-click="toggleLabels()">Toggle Labels</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a bs-collapse-toggle>Dates</a></h5>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <date-vis></date-vis>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a bs-collapse-toggle>Statistics and Entity Types</a></h5>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    Total number of connected nodes
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    {{data.nodes.length}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    Total number of unconnected nodes
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    {{data.unConnected.length}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                     Total number of relationships
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                     {{data.links.length}}
                                </div>
                            </div>
                            <!-- dataset type statistics -->
                            <div class="row">
                                <hr/>
                                <span ng-repeat="(type, typeData) in data.types">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        {{type}} ({{typeData.coreType}})
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        {{typeData.count}}
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 text-center" style="background-color: {{typeData.color}}">
                                        <span class="form-inline">
                                            <span class="checkbox">
                                                <input type="checkbox" ng-click="highlightByType(type)" ng-checked="typeData.checked">
                                            </span>
                                        </span>
                                    </div>
                                </span>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a bs-collapse-toggle>Inspect Selected Node Network</a></h5>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <div class="row" ng-if="contextNodeData">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span ng-show="contextNodeData.url">
                                        <strong>{{contextNodeData.type}}:</strong> 
                                        <a href="" ng-click="viewEntityNetwork(contextNodeData.id)">
                                            ({{contextNodeData.id}}) {{contextNodeData.name}} ({{contextNodeData.df | date:'yyyy'}} - {{contextNodeData.dt | date:'yyyy'}})
                                        </a>
                                    </span>
                                    <hr/>
                                </div>
                            </div>
                            <div class="row" ng-if="contextNetworkData">
                                <div class="col-sm-12 col-md-12 col-lg-12" ng-repeat="(type, data) in contextNetworkData">
                                    <span class="form-inline">
                                        <strong>{{type}} ({{data.length}})</strong><br/>
                                    </span>
                                    <ul>
                                        <span ng-repeat="d in data">
                                            <span class="form-inline">
                                                <span ng-if="d.url">
                                                    <li>
                                                        <a href="" ng-click="viewEntityNetwork(d.id)">({{d.id}}) {{d.name}} ({{d.df | date:'yyyy'}} - {{d.dt | date:'yyyy'}})</a>
                                                    </li>
                                                </span>
                                                <span ng-if="!d.url">
                                                    <li>
                                                        {{d.name}}
                                                    </li>
                                                </span>
                                            </span>
                                        </span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a bs-collapse-toggle>Inspect Unconnected Nodes</a></h5>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12" ng-repeat="(type, data) in data.unConnected">
                                    <span class="form-inline">
                                        <strong>{{type}} ({{data.length}})</strong><br/>
                                    </span>
                                    <ul>
                                        <span ng-repeat="d in data">
                                            <span class="form-inline">
                                                <span ng-if="d.url">
                                                    <li>
                                                        <a href="" ng-click="viewEntityNetwork(d.id)">({{d.id}}) {{d.name}} ({{d.df | date:'yyyy'}} - {{d.dt | date:'yyyy'}})</a>
                                                    </li>
                                                </span>
                                                <span ng-if="!d.url">
                                                    <li>
                                                        {{d.name}}
                                                    </li>
                                                </span>
                                            </span>
                                        </span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><a bs-collapse-toggle>Highlight Nodes by Search</a></h5>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <search-form search-type="keyword"></search-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
