/* Space out content a bit */
body {
    word-wrap: break-word;
    background-color: #efefea;
}

.below {
    position: fixed;
    z-index: 5000;
    opacity: 0.5;
    background-color: white;
}
.above {
    position: fixed;
    z-index: 100000;
}
.contextNodeData.ng-hide-remove {
    animation: fadeIn 0.5s;
}
