.contextNodeData.ng-hide-remove {
    -webkit-animation:fadeIn .5s
   }
   .animate-show.ng-hide-add.ng-hide-add-active {
    -webkit-animation:fadeOut .5s
   }
   .animate-if.ng-enter,.animate-show.ng-hide-remove {
    -webkit-animation:fadeIn 1s
   }
   .animate-if.ng-leave {
    -webkit-animation:fadeOut .5s
   }
   body {
    word-wrap:break-word;
    background-color:#efefea
   }
   .below {
    position:fixed;
    z-index:5000;
    opacity:.5;
    background-color:#fff
   }
   .above {
    position:fixed;
    z-index:100000
   }
   .contextNodeData.ng-hide-remove {
    animation:fadeIn .5s
   }
   path.link {
    fill:none;
    stroke:#ccc;
    stroke-width:3px
   }
   .animate-show.ng-hide-add.ng-hide-add-active {
    animation:fadeOut .5s
   }
   .animate-show.ng-hide-remove {
    animation:fadeIn 1s
   }
   .animate-if.ng-enter {
    animation:fadeIn 1s
   }
   .animate-if.ng-leave {
    animation:fadeOut .5s
   }
   .table-hover>tbody>tr:hover {
    background-color:#D9EDF7
   }
