/* Space out content a bit */
body {
    background-color: #efefea;
}

.beta {
    background-image: url('../images/beta.jpeg');
    background-repeat: no-repeat;
    background-size: 20%;
    position: fixed;
    width: 30%;
    height: 30%;
    opacity: 1;
    z-index: -1;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.below {
    position: fixed;
    z-index: 5000;
    opacity: 0.5;
    background-color: white;
}
.above {
    position: fixed;
    z-index: 100000;
}
.contextNodeData.ng-hide-remove {
    animation: fadeIn 0.5s;
}
