*.pyc
*.cache
*.lock
*.swp
*.coverage
*.cover
service/app.egg-info/
service/app.sqlite
service/config/sites
service/config/config
interface/node_modules
interface/dist
interface/.tmp
interface/.sass-cache
interface/app/bower_components
