<div class="container-fluid"  ng-controller="SiteNetworkController" ng-init="init()">
<style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }
        .link {
            stroke: #000;
            stroke-opacity: 1.0;
            stroke-width: 2.0;
        }
</style>

    <div class="row-fluid">
        <div class="span12" ng-show="progress">
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{processed / total * 100}}%"></div>
            </div>
            <h4 class="text-center">Building the graph: {{processed}} of {{total}} entities processed.</h4>
        </div>
        <div ng-show="dataset_error">
            <h4 class="text-center">Requested dataset unavailable</h4>
        </div>
    </div>
    </div>
        <div class="span12">
            <div id="graph" class=""></div>
        </div>
    </div>
</div>

